<!DOCTYPE html>

<html lang='en'>
<head>
	<title>Random Mean Tweet</title>
</head>
<body>
<h2 visibility: {{ hidden }}>Thanks for voting! That tweet now has a score of {{ new_upvote_count }}</h2>
<img src="{{ random_tweet.user_profile_pic_url }}">
<h1>Here is a mean tweet about {{ random_tweet.search_term }}:</h1>
<h2>@{{ random_tweet.twitter_screen_name }} said:
<p>{{ random_tweet.tweet_text }}</p>
<p>This {{ nice_term }} has {{ random_tweet.user_followers_count }} followers.</p>
<form method="POST" action="/mean/viewfav/upvote">
	<input hidden name="tweet_id" value="{{ random_tweet.tweet_id }}"></input>
	<button>Like this!</button> 
{% csrf_token %}
</form>
<form method="POST" action="/mean/viewfav/downvote">
	<input hidden name="tweet_id" value="{{ random_tweet.tweet_id }}"></input>
	<button>Dislike this!</button> 
{% csrf_token %}
</form>

<a href={% url "view_random" %}><br>View a random favorite</a>
<a href={% url "home" %}><br>Return Home</a>
<a href={% url "view_top" %}><br>View the top tweets of all time</a>
</body>
</html>