{% extends 'base.html' %}

{% block title %}
<title>Top Tweets of All Time</title>
{% endblock %}

{% block page_content %}
<div align="center" class="page-header">
	<h1>TOP TWEETS OF ALL TIME</h1>
</div>
{% for top_tweet, nice_term in top_tweets%}
  <div class="container">
	<div class="jumbotron">
	  <div class="container" align="center">
		<h2>
		  <div class="rank-number">{{ forloop.counter }}.</div>
			<a href = "http://twitter.com/{{ top_tweet.twitter_screen_name }}/">
				@{{ top_tweet.twitter_screen_name }}</a>
				had this to say about 
		  <div class="top-search-term">{{ top_tweet.search_term }}</div>:
		</h2>
		  <blockquote class="twitter-tweet">
			<div class="tweet-pic">
			  <img src="{{ top_tweet.user_profile_pic_url }}" align="left">
			</div>
			<div class="tweet-user-name" align="left">
			  <h3>{{ top_tweet.twitter_user_name }}</h3>
			</div>
			<div class="twitter-screen-name" align="left">
			<a  href="http://twitter.com/statuses/{{ top_tweet.tweet_id }}"
			class="tweet-twitter-handle">
			  <p>@{{ top_tweet.twitter_screen_name }} </p>
			</a>
			</div>
			<div class="tweet-text">
			  <p>{{ top_tweet.tweet_text }}</p>
			</div>
			<div class="tweet-followers">
			  <p>This {{ nice_term }} has <b>{{ top_tweet.user_followers_count }} </b>
				followers.</p>
			</div>
		  </blockquote>
		  <p>This tweet has a score of {{ top_tweet.upvote_count }}</p>
	  </div>
	</div>
  </div>
{% endfor %}
{% endblock %}